/* .app {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;	
  justify-items: center;
} */
.title{
    display: inline-block;
  }
  
  .center{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }
  
  .centered{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .centered {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ocr-button {
    width: 15rem;
    height: 5rem;
    color: white;
    background: #3f4257;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 0 1rem;
    cursor: pointer;
    transition: 0.2s linear;
    font-size: 1.5rem;
  }
  
  .ocr-button:hover {
    transform: scale(1.1);
  }
  
  .ocr-list {
    background: white;
    max-width: 50%;
    border-radius: 1rem;
    list-style-type: none;
    margin: 2rem;
  }

  @media (max-width:920px){
    .ocr-list {
      background: white;
      max-width: 100%;
      border-radius: 1rem;
      list-style-type: none;
      margin: 2rem;
    }
  }
  .fileContainer{
    box-shadow: none!important;
  }
  .fileContainer p {
    font-size: 20px;
    margin: 10px 0 10px;
}
.fileContainer .uploadIcon {
  width: 100px;
  height: 100px;
}
.fileContainer .chooseFileButton {
  font-size: 1.5rem!important;
  height: 5rem;
}
.dropdownMenu{
  min-width: 3rem;
}
.save-btn{

    height: 5rem;
    width: 5rem;
    color:aliceblue;
    background: #3f4257;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}
  .ocr-element {
    color: #3f4257;
    margin: 1rem;
    padding: 1rem;
  }