.my-custom-view-wrapper {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #3f4257;
    color: white;
    padding: 2%;
}

.my-custom-view-wrapper div:last-child {
    /* Here we are styling the button container. */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}